.body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

.container {
    display: flex;
    height: 95vh;
}

.left-side {
    flex: 1.0;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.form-group-6gd {
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

#ip1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#Password
{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn-6pp {
    background-color: #4c60af;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-6pp:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.btn-6pp:hover {
    background-color: #04AA6D; 
}
.error {
    color: red;
    margin-top: 5px;
}
@media (min-width: 600px) {
    form {
        margin: 0;
    }
}
img {
    max-width: 100%;
    height: auto;
}

#Signup {
    color: #fff; /* Text color */
    background-color: #aa234c; /* Background color */
    padding: 10px 50px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure the background color covers the entire clickable area */
    transition: background-color 0.3s; /* Smooth transition for background color change on hover */
}

#Signup:hover {
    background-color:#4c60af; 
}
.text-2ii {
    font-size: 22px; /* Adjust the font size */
    color: #170101; /* Text color */
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.text-2ii b {
    color: #000000; /* Color for the bold text inside the paragraph */
}
#HOME {
    background-color: #04AA6D;
    color: white;
    float: right;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
  }
 #HOME:hover {
    background-color: rgba(16, 2, 2, 0.3);; 
}
  