.StudentInfo
{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.select
{
    width: 50%;
    height: 40px;
    font-size: large;
}
#Submit
{
    background-color: #4c60af;
    color: white;
    padding: 15px;
    width: 30%;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#Submit:hover
{
    background-color:rgb(27, 132, 4);
}